@charset "UTF-8";


/*--------------------------------------------------------------
# General Section
--------------------------------------------------------------*/

body {
    background-color: #000ffe;

}

.rsvp-btn {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 11px 36px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    margin-bottom: 30px;
    border: 2px solid #000ffe;
    background: #fff;
    color: #000ffe;
    text-decoration: none;
  }
  
  .rsvp-btn:hover {
    background: #000ffe;
    color: #fff;
    border: 2px solid #fff;
  }

  .button-holder {
    text-align: center;
  }

  .img-holder {
    text-align: center;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/


  @media (min-width: 0px) and (orientation:landscape) {

      #hero img {
        max-width: calc(100vh - 100px);
        margin-top: 30px;
        margin-bottom: 5px;

      }

  }

  @media (min-width: 0px) and (orientation:portrait) {

    #hero img {
        max-width: calc(100vw);
        margin-top: 30px;
        margin-bottom: 5px;

    }
    
  }
  
 
