@charset "UTF-8";


/*--------------------------------------------------------------
# General Section
--------------------------------------------------------------*/

body {
    background-color: #000ffe;

}

.rsvp-btn {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 11px 36px;
    border-radius: 50px;
    transition: 0.5s;
    margin-bottom: 30px;
    border: 2px solid #000ffe;
    background: #fff;
    color: #000ffe;
    text-decoration: none;
  }
  
  .rsvp-btn:hover {
    background: #000ffe;
    color: #fff;
    border: 2px solid #fff;
  }

  .button-holder {
      text-align: center;
  }

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: calc(100vh - 40px);
    background-size: 100%;
    position: relative;
    margin-top: 40px;
  }
  
  @media (min-width: 1025px) {
    #hero {
      background-attachment: fixed;
    }
  }
  
  #hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  #hero img {
    max-width: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  
 
