<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <title>I'm Not Your Clown</title>
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
      <meta content="" name="keywords">
      <meta content="" name="description">

      <!-- Favicons -->
    <link rel="icon" href="./static/Payasito.png" type="image/x-icon">
    <link rel="shortcut icon" href="./static/Payasito.png" type="image/x-icon">


    <link href="./static/style.css" rel="stylesheet">

    </head>

    <body id="hero">
              <div class="img-holder">
                <img src="/static/artboard-1@4x-100.jpg" alt="Hero Img">
              </div>
              <div class="button-holder">
                  <a href="https://www.eventbrite.com/e/im-not-your-clown-art-exhibition-tickets-60967788296" class="rsvp-btn">RSVP</a>
              </div>      
    </body>





</html>